.container{
    text-align:center;
    margin-top:23px;
}
table{
    margin:auto;
}
input{
    font-size:34px;
    border: 5px solid black;
    border-radius: 21px;
    padding:7px;
}
button{
    font-size: 45px;
    background-color: #00bcd4;
    width: 102px;
    height: 60px;
    border-radius: 20px;
}
.calculator{
    display: inline-block;
    border: 2px solid black;
    border-radius: 21px;
    padding: 10px;
    background-color: #d3064c;
}